<div class="bg-cover bg-center h-screen" style="background-image: url('your-construction-image.jpg')">
  <div class="flex items-center justify-center h-full bg-gray-800 bg-opacity-50">
    <div class="text-center text-white">
      <div class="flex justify-center">
        <%= image_tag 'qkc.svg', style: 'width: 75%; height: auto;' %>
      </div>
      <br>
      <p class="text-xl">Website coming soon.</p>
    </div>
  </div>
</div>
